
/* убираем точки списков */


/* убираем подчеркивание ссылок */

/*---------------HEADER----------------*/




/*.link-activ{
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
}*/

/*---------------HEADER----------------*/

/*-------------HERO-----------*/

/* ------------ПРЕИМУЩЕСТВА-------------- */

/*----------------------WORK---------------------*/

/*
    flex-basis: calc((100% - 90px) / 3);
}*/

/* ----------------КОМАНДА----------------- */


/*-----------------ПОСТОЯННЫЕ КЛИЕНТЫ-----------------------*/



/* ----------------ПОДВАЛ----------------- */






/*---------------Подпишитесь на рассылку---------------*/


/* --------------------ПОРТФОЛИО----------------- */
/* ---------------------------------------------- */


/*.flex-element:not(:nth-child(3n)){
    margin-right: 30px;
}*/
/*.flex-element:not(:nth-last-child(-n+3)){
    margin-bottom: 30px;
}*/

/*.flex-element:nth-last-child(-n+3){
    margin-bottom: 0;
}*/
--------------------BACKDROP---------------------*/

