
 .features{
    padding: 0;
    margin: 0;
    list-style: none;

 }
/* 
@media screen and(min-width:768px){

    .features{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    }

}
.features__item{
    @media screen and(min-width:768px){
          width: 50%;
          flex-basis: 50%;
          width: calc(100%-2*10px)/2;
          margin: 5px;
    }
    @media screen and (min-width:1200px){
        flex-basis: 100%/3;
    }

    @media screen and(max-width:768px){
        .features__item:not(:last-child){
        margin-bottom: 20px;}
    }

} */

 .features{
    display: flex;
    flex-wrap: wrap;
    }

.features__item {
    width: calc((100% - 90px) / 4);
}


.features__item:not(:last-child) {
    margin-right: 30px;
    display: block;
}
.features-item__title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.features-item__text
{
    color: $secondary-font-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}
.features-item__card {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $white-background-color;
  }

.features-icon {
    align-items: center;
    justify-content: center;
    fill: currentColor;
  }