
.footer{
    background: $bg-section-dark;
    padding-top: 60px; 
    padding-bottom: 60px; 

}
.address-footer{
    margin-top: 20px;
}


.address-list-item:not(:last-child){
    margin-bottom: 9px;
    
}
.white {
    color: $font-color-white;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-mail,.footer-tel{
    color: $footer-font-white-transparent;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
}

.address{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: $font-color-white;
    letter-spacing: 0.03em;
}

.footer-flex{
    display: flex;
    align-items: baseline;
}

.footer-left{
    margin-right: 70px;
    
}

.footer-social-list{
    display: flex;
    border-radius: 50%;
}

.footer-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $font-color-white;
    margin-bottom: 20px;
    
}

.footer-social-item:not(:last-child){
    margin-right: 10px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: $font-color-white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $font-color-white;
    background-color: $accent-color;
    }
}

.widget-subscribe{
    margin-left: 93px;
}
.form-subscribe {
    @extend  %align;
}

.form-subscribe-input {
    width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
}

.form-subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;   
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $footer-font-white-transparent;
}

.subscribe-btn{
    max-width: 200px;
    max-height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    padding-left: 29px;
    padding-right: 64px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family: inherit;
    font-weight: 700;
    background: $accent-color;
    color: $font-color-white;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    align-self: center;
}

.subscribe-btn-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 13px;
    left: 148px;
}