.preference__list {
  display: block;
}
.preference-item {
  display: flex;
  flex-direction: column;
}

.preference-item__picture {
  @extend %align;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: var(--tipical-margin);
}
.preference-item__title {
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.preference-text {
  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (max-width: 767px) {
  .preference-item {
    width: 100%;
    align-content: center;

    &:not(:last-child) {
      margin-bottom: var(--tipical-margin);
    }
  }
  .preference-item__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .preference__list {
    display: flex;
    flex-wrap: wrap;
    // flex-basis: calc(100% / 2 - 30px);
  }

  .preference-item {
    width: 354px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .preference-item:nth-child(2n) {
    margin-left: var(--tipical-margin);
  }
  .preference-item:nth-child(-n + 2) {
    margin-bottom: var(--tipical-margin);
  }
  .preference-item__title {
    text-align: left;
  }

  .preference-text {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .preference__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .preference-item:not(:last-child) {
    margin-right: var(--tipical-margin);
    max-width: 270px;
  }
}
