.team-social-list{
    @extend %align;
    margin-top: 16px;
    list-style: none;
}


.team-social-item {
    width: 44px;
    height: 44px;
    &:not(:last-child){
        margin-right: 10px;}
}

.team-social-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: #afb1b8;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    }
}


.team-social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}